<!DOCTYPE html>
<html id="profile">
<head>
  <title></title>
</head>
<body>
  <header class="intro-header">
    <div class="container">
      <div class="intro-text">
        <h1>GearShare</h1>
        <h3>Share the outdoors.</h3>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-xl btn-success' %>
      </div>
    </div>
  </header>
  <%# if user_signed_in? %>
    <!-- <h1>Welcome back,</h1> -->
  <%# else %>
    <!-- <h1>Login</h1> -->
  <%#  end %>

</body>
</html>
