<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
  <h1>All Users</h1>

  <% @users.each do |user| %>
  <%= user.first_name %>
<iframe width="400" height="400" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= user.location %>&key=AIzaSyABZ3-JpMlz3RG2Aw2r8diLnDs1ShsItKw" allowfullscreen></iframe>
<% end %>
</body>
</html>



