<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p><%= @reservation.day%></p>
  <p><%= @reservation.city %></p>
  <p><%#= link_to 'Back' , reservations_path %> </p>


</body>
</html>
