<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>You have a new request for <%= @item.name %>. View the request by logging in, <%= url_for("https://gear-share-.herokuapp.com/users/sign_in") %>.</p>
  </body>
</html>
