<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% if @items.blank? %>
  <h4>There is no gear matching the term <%= params[:search] %>.</h4>
<% end %>

<%= render 'shared/items_list' %>

<%= link_to new_item_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New
<% end %>

</body>
</html>
