<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p><%= @item.name%></p>
  <p><%= @item.description %></p>
  <p><%= link_to 'Back' , items_path %> </p>
  <%= link_to image_tag(@item.image.url(:med)), @item.image.url %>
</body>
</html>
