<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p><%= @item.name%></p>
  <p><%= @item.description %></p>
  <% if current_user %>
    <p><%= link_to 'Back' , profile_path(current_user.id) %> </p>
  <% else %>
    <%= link_to image_tag(@item.image.url(:large)), @item.image.url %>
  <% end %>
</body>
</html>
