.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  background: url(camping.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-text {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.con{
  margin-right:     auto;
  margin-left:      auto;
  display:table;
}



