// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task-list {
  display: none;
  width: 250px;
}

#form h3 {
  color: white;
}

#listed-items {
  background-color: #222;
  color: white;
  padding-left: 10px;
  padding-bottom: 5px;
}

#items-form {
  background-color: #222;
  padding: 10px;
}

#search-form {
  padding-top: 0;
}

.append-show{
  display: none;
  text-align: center;
}

#main-container {
  margin: 0 auto;
}

div.row.item_row {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
}

.card-deck {
  float: left;
  width: 250px;
  height: 250px;
  margin: 1em;
}

.img_container {
  width: 255px;
  min-height: 250px;
  position: relative;
}

img.card-img-top {
  max-height: 210px;
  width: 255px;
  position: absolute;
  bottom: 60px;
  z-index: -1;
}

.card-title {
  width: 255px;
  color: black;
  background-color: white;
  font-family: "Tahoma";
  text-align: center;
  bottom: 0;
  position: absolute;
}

p.card-text {
  color: black;
  font-weight: bold;
}

.image-item-show {
  max-height: 500px;
  max-width: 500px;
  margin: 0 auto;
}

.item-show-footer {
  margin: 0 auto;
  display: block;
  max-width: 500px;
  text-align: center;
}

.item-links {
  background: white;
}

.owner {
  margin: 0 auto;
  border: #eea236;
  border-radius: 15px;
  background: #f0ad4e;
  width: 50%;
  margin-bottom: 10px;
}
