// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
}

h3 {
  margin-top: 0;
}

.badge {
  background-color: #777;
}

.tabs-left {
  margin-top: 0rem;
  margin-right: 100px;
}

.container {
  margin-top: 0;
}
.nav-tabs {
  float: top;
  border-bottom: 0;


  li {
    float: none;
    margin: 0;
    display: inline-block;
    a {
      height: 50px;
      width: 190px;
      margin-right: 0;
      border: 0;
      background-color: #333;
      color: white;
      &:hover {
        background-color: #444;
      }
    }
  }

  .active .glyphicon {
    color: #333;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: grey;
  border:0;
}

.nav-tabs>li.vertical_li{

}

.tab-content {
  margin-left: 0px;

  .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
  }

.active { display: block; }

}

.list-group {
  width: 100%;
  border: 3px;
  .list-group-item {

    border: 3px;
    h4, span {
      line-height: 11px;
    }
  }
}

.container{
 margin-left: 0px;
 padding-left: 10px;
 padding-top: 0px;
 width: 100%;
}

.ct {
  width: 500px;
  color: black;
  background-color: none;
  font-family: "Tahoma";
  text-align: left;
  position: initial;
}

.cb{
  border-bottom: none;
  background-color: #fff;
}

#profile-card{
  border: 3px solid #f1f1f1;
}

#token {
  display: inline-block;

}

