// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .dark-green-gradient-background { background: -webkit-linear-gradient(90deg,#224e4d 10%,#083023 90%); background: linear-gradient(90deg,#224e4d 10%,#083023 90%); }


.list-group{
  vertical-align: middle;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}



