<div class="container-fluid text-center">
  <h2>ABOUT</h2>
  <h4>GearShare offers and supports the following:</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-handshake-o fa-4x logo-small"></i>
      <h3>COMMUNITY</h3>
      <p class="about-desc">Help others to enjoy their outdoor experience and join a network of nature enthusiasts.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-laptop fa-4x logo-small"></i>
      <h3>CONVENIENCE</h3>
      <p class="about-desc">We designed GearShare to make sharing easy. Join GearShare to find gear you need and post items you want to share in just a few steps.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-recycle fa-4x logo-small"></i>
      <h3>CONSERVATION</h3>
      <p class="about-desc">Gear can pile up in our homes and in landfills. Check GearShare for what you need and help us to enjoy the outdoors responsibly.</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-light text-center">
  <h2>MADE WITH <i class="fa fa-heart logo-small"></i> BY:</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://www.dropbox.com/s/2wdlsow90acolr3/29189dbc.jpg?raw=1" alt="David Keller">
          <h3>David Keller</h3>
          <p>Web Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/dckeller">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://www.dropbox.com/s/ekl6e46uqzg3rk7/29176dbc.jpg?raw=1" alt="Daniel Way">
        <h3>Daniel Way</h3>
        <p>Web Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/dan-way-22875765/">
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/dwaypro">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://www.dropbox.com/s/ggt942n7eq97ww7/29223dbc.?raw=1" alt="Michael McDonald">
        <h3>Michael McDonald</h3>
        <p>Web Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/michaelrmcd/">
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/miker-mcd">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
