<div class="container-fluid text-center">
  <h2>ABOUT</h2>
  <h4>GearShare offers and supports the following:</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-handshake-o fa-4x logo-small"></i>
      <h3>COMMUNITY</h3>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-laptop fa-4x logo-small"></i>
      <h3>CONVENIENCE</h3>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-recycle fa-4x logo-small"></i>
      <h3>ENVIRONMENTAL</h3>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-light text-center">
  <h2>MADE WITH <i class="fa fa-heart logo-small"></i> BY:</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://storage.googleapis.com/lender-rate/CDN/megaloans/no-avatar.jpg" alt="David Keller">
        <h4>David Keller</h4><br>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://storage.googleapis.com/lender-rate/CDN/megaloans/no-avatar.jpg" alt="Daniel Way">
        <h4>Daniel Way</h4><br>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://storage.googleapis.com/lender-rate/CDN/megaloans/no-avatar.jpg" alt="Michael McDonald">
        <h4>Michael McDonald</h4><br>
      </div>
    </div>
  </div>
</div>
