<header class="intro-header">
  <div class="container-fluid">
    <div class="intro-text">
      <h1>GearShare</h1>
      <h3>Share the outdoors</h3>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
</header>
