<div class="container-fluid text-center">
  <h2>ABOUT</h2>
  <h4>GearShare offers and supports the following:</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-handshake-o fa-4x logo-small"></i>
      <h3>COMMUNITY</h3>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-laptop fa-4x logo-small"></i>
      <h3>CONVENIENCE</h3>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-recycle fa-4x logo-small"></i>
      <h3>ENVIRONMENTAL</h3>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-light text-center">
  <h2>MADE WITH <i class="fa fa-heart logo-small"></i> BY:</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://storage.googleapis.com/lender-rate/CDN/megaloans/no-avatar.jpg" class="img-circle" alt="David Keller">
        <h3>David Keller</h3><br>
        <p>Web Developer</p>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://storage.googleapis.com/lender-rate/CDN/megaloans/no-avatar.jpg" class="img-circle" alt="Daniel Way">
        <h3>Daniel Way</h3><br>
        <p>Web Developer</p>
                <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="team-member">
        <img src="https://storage.googleapis.com/lender-rate/CDN/megaloans/no-avatar.jpg" class="img-circle" alt="Michael McDonald">
        <h3>Michael McDonald</h3><br>
        <p>Web Developer</p>
                <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
