<div class="con">
  <div class="row">
    <div class="col-md-4"> <div class="video"> <%= video_tag "camping.mp4", autoplay: :autoplay, loop: :loop%> </div> </div>
    <div class="col-md-4"> <div class="video">  </div> </div>
  </div>
</div>


